<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
 xmlns:v="urn:schemas-microsoft-com:vml"
 xmlns:o="urn:schemas-microsoft-com:office:office">
  <head>
     <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
     <meta name="viewport" content="width=device-width, initial-scale=1"/>
     <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!--[if gte mso 9]><xml>
    <o:OfficeDocumentSettings>
    <o:AllowPNG/>
    <o:PixelsPerInch>96</o:PixelsPerInch>
    </o:OfficeDocumentSettings>
    </xml><![endif]-->

     <title>New Song Request</title>
  </head>

  <body style="-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%; mso-line-height-rule: exactly; margin: 0; padding: 0;font-family: Helvetica, arial, sans-serif; font-size: 12px; color: #222222; line-height: 1.25; width: 100%; min-width: 600px;">
     <%= title %> by <%= artist %> added.
</body>
</html>