<template>
  <div>
    <hero src="/static/img/engagement-shoot/engaged-40.jpg">
      <h1 class="c-hero__title">Thanks for coming!</h1>
    </hero>

    <section >
      <div class="o-container o-container--narrow s-entry-content">
        <p>We were blown away by those who travelled from near and FAR to celebrate our engagement. Not to mention the thoughtful messages from those who couldn't make it and the beyond generous gifts. We appreciate the support from every one of you.</p>
        <p>We had the best night... check out what was below!</p>
        <p>- Bec &amp; Ry</p>
      </div>
    </section>

    <section class="photo-grid">
      <div class="o-container">
        <h1>Gallery</h1>
        <div v-masonry transition-duration="0.3s" item-selector=".post">
          <div v-masonry-tile class="post post-4col" v-for="i in showing">
            <a class="download" :href="'/static/img/engagement/image-' + i + '.jpg'" download>
              <div>Download it!</div>
              <img :src="'/static/img/engagement/thumbnails/image-' + i + '.jpg'" />
            </a>
          </div>
        </div>
        <button v-if="showing < 147" showing class="load-more c-button c-button--white" @click="showing = showing < 127 ? showing + 20 : 147">Load more</button>
      </div>
    </section>

  </div>
</template>

<script>
  import toggle from '@/mixins/toggle';
  import Hero from '@/components/Hero';
  import Icon from '@/components/Icon';

  export default {
    name: 'engagement',
    mixins: [toggle],
    components: {
      Hero,
      Icon,
    },
    data() {
      return {
        showing: 20,
      };
    },
    mounted() {
      this.$redrawVueMasonry();
    },
    methods: {
      reDraw() {
        this.$redrawVueMasonry();
      },
    },
    metaInfo: {
      title: 'Bec & Ry',
      meta: [
        {
          name: 'description',
          content: 'We\'re getting married!',
        },
        {
          property: 'og:title',
          content: 'Bec & Ry',
        },
        {
          property: 'og:description',
          content: 'We\'re getting married!',
        },
        {
          property: 'og:url',
          content: 'https://becandry.com',
        },
      ],
    },
  };
</script>
