<template>
  <div>
    <hero src="/static/img/guitar.jpg">
      <h1 class="c-hero__title">The entertainment</h1>
      <p class="lead">Thandi Phoenix / Daniel March<br />Matty Geoffs / Dom Cabrera</p>
    </hero>

    <playlist-form></playlist-form>

  </div>
</template>

<script>
  import toggle from '@/mixins/toggle';
  import Hero from '@/components/Hero';
  import Icon from '@/components/Icon';
  import PlaylistForm from '@/components/PlaylistForm';

  export default {
    name: 'home',
    mixins: [toggle],
    components: {
      Hero,
      Icon,
      PlaylistForm,
    },
    metaInfo: {
      title: 'Bec & Ry',
      meta: [
        {
          name: 'description',
          content: 'We\'re getting married!',
        },
        {
          property: 'og:title',
          content: 'Bec & Ry',
        },
        {
          property: 'og:description',
          content: 'We\'re getting married!',
        },
        {
          property: 'og:url',
          content: 'https://becandry.com',
        },
      ],
    },
  };
</script>
