<template>
  <div>
    <hero src="/static/video/becandry-mobile.mp4" video>
      <img src="/static/img/leaf.png" alt="" width="500">
      <h1>We're getting married!</h1>
      <countdown deadline="January 27, 2018"></countdown>
      <img src="/static/img/leaf.png" alt="" width="500">
    </hero>

    <rsvp-form></rsvp-form>

    <section class="c-section c-section--tiny c-section--bg c-section--what" style="background-image: url('/static/img/engagement-shoot/engaged-2.jpg')">
      <div class="o-container o-container--slim" style="text-align: center;">
        <h1>What's happening</h1>
        <p class="lead"><strong>27th January 2018</strong></p>
        <p class="lead">Ceremony at Tocal Homestead 3:30pm</p>
        <p class="lead">Reception to follow 6:15pm</p><br />
        <router-link to="/whats-happening" class="c-button c-button--black">More details</router-link>
      </div>
    </section>

    <section class="insta-grid">
      <div class="o-container">
        <h1>#becandry</h1>
        <p style="text-align: center; margin-bottom: 3rem;">Don't forget to use the hashtag #becandry! If your Instagram account is public your posts will show here.</p>
        <div v-masonry transition-duration="0.3s" item-selector=".post">
          <div v-masonry-tile class="post" v-bind:key="index" v-for="(post, index) in posts">
            <img :src="post.node.display_url" />
            <p>{{ post.node.edge_media_to_caption.edges[0].node.text }}</p>
          </div>
        </div>
      </div>
    </section>

  </div>
</template>

<script>
  import Countdown from 'vuejs-countdown';
  import toggle from '@/mixins/toggle';
  import Hero from '@/components/Hero';
  import Icon from '@/components/Icon';
  import RsvpForm from '@/components/RsvpForm';
  import { log } from '../utils';
  // import store from '../store';

  export default {
    name: 'home',
    mixins: [toggle],
    components: {
      Hero,
      Icon,
      Countdown,
      RsvpForm,
    },
    data() {
      return {
        posts: [],
      };
    },
    created() {
      fetch('https://ryanbarker.nz/clients/weddings/becandry-insta.php')
      .then(resp => resp.json())
      .then((data) => {
        this.posts = data.graphql.hashtag.edge_hashtag_to_media.edges;
      })
      .catch((error) => {
        log('referralByShortCode', error);
      });
    },
    mounted() {
      this.$redrawVueMasonry();
    },
    methods: {
      reDraw() {
        this.$redrawVueMasonry();
      },
    },
    metaInfo: {
      title: 'Bec & Ry',
      meta: [
        {
          name: 'description',
          content: 'We\'re getting married!',
        },
        {
          property: 'og:title',
          content: 'Bec & Ry',
        },
        {
          property: 'og:description',
          content: 'We\'re getting married!',
        },
        {
          property: 'og:url',
          content: 'https://becandry.com',
        },
      ],
    },
  };
</script>
