<template>
  <div>
    <hero src="/static/img/tocal.jpg">
      <h1 class="c-hero__title">The Venue</h1>
      <p class="lead">Tocal Homestead</p>
    </hero>

    <section>
      <div class="o-container o-container--slim s-entry-content">
        <blockquote><p>Situated in picturesque, rustic and beautiful Maitland, Tocal Homestead is an ideal Hunter Valley wedding venue.</p></blockquote>
        <p>Both the wedding ceremony and reception will be held at Tocal Homestead, in Paterson NSW.</p>
        <p>Tocal is 180 km North of Sydney via the F3 Freeway and 14 km North of Maitland on the Paterson/Dungog road.</p>
      </div>
    </section>

    <venue-map></venue-map>
  </div>
</template>

<script>
  import toggle from '@/mixins/toggle';
  import Hero from '@/components/Hero';
  import Icon from '@/components/Icon';
  import VenueMap from '@/components/VenueMap';

  export default {
    name: 'home',
    mixins: [toggle],
    components: {
      Hero,
      Icon,
      VenueMap,
    },
    metaInfo: {
      title: 'Bec & Ry',
      meta: [
        {
          name: 'description',
          content: 'We\'re getting married!',
        },
        {
          property: 'og:title',
          content: 'Bec & Ry',
        },
        {
          property: 'og:description',
          content: 'We\'re getting married!',
        },
        {
          property: 'og:url',
          content: 'https://becandry.com',
        },
      ],
    },
  };
</script>
