<template>
  <div>
    <hero src="/static/img/engagement-shoot/engaged-37.jpg">
      <h1 class="c-hero__title">What's happening</h1>
    </hero>

    <section class="c-section c-section--small">
      <div class="c-section__item">
        <div class="o-container">
          <content-block src="/static/img/ceremony.jpg" swap largeImg>
            <h2 class="c-title c-content-block__item">Wedding ceremony</h2>
            <div class="s-entry-content c-content-block__item">
              <p>The wedding ceremony will be held well into the afternoon, most likely under the giant fig tree. There is plenty of parking on-site and all are welcome to join us as we tie the knot!</p>
              <p>Canapés to follow.</p>
              <p><strong>Date:</strong> 27 Jan 2018<br /><strong>Time:</strong> 3:30pm<br /><strong>Location:</strong> <router-link to="/venue">Tocal Homestead</router-link></p>
            </div>
          </content-block>
        </div>
      </div>
      <div class="c-section__item">
        <div class="o-container">
          <content-block src="/static/img/barn.jpg" largeImg>
            <h2 class="c-title c-content-block__item">Reception</h2>
            <div class="s-entry-content c-content-block__item">
              <p>Finish the night off with good food and dancing before sending us on our merry way. Feel free to make a <router-link to="/entertainment">song request!</router-link></p>
              <p><strong>Date:</strong> 27 Jan 2018<br /><strong>Time:</strong> 6:15pm - 11pm<br /><strong>Location:</strong> <router-link to="/venue">Tocal Homestead</router-link></p>
            </div>
          </content-block>
        </div>
      </div>
    </section>

  </div>
</template>

<script>
  import toggle from '@/mixins/toggle';
  import Hero from '@/components/Hero';
  import Icon from '@/components/Icon';
  import VenueMap from '@/components/VenueMap';
  import ContentBlock from '@/components/ContentBlock';

  export default {
    name: 'whats-happening',
    mixins: [toggle],
    components: {
      Hero,
      Icon,
      VenueMap,
      ContentBlock,
    },
    metaInfo: {
      title: 'Bec & Ry',
      meta: [
        {
          name: 'description',
          content: 'We\'re getting married!',
        },
        {
          property: 'og:title',
          content: 'Bec & Ry',
        },
        {
          property: 'og:description',
          content: 'We\'re getting married!',
        },
        {
          property: 'og:url',
          content: 'https://becandry.com',
        },
      ],
    },
  };
</script>
