// Colors
$prussian-blue: #003556;
$eastern-blue:  #1d80b0;
$viking:        #50dad0;
$gumbo:         #7a95a5;
$wattle:        #dacc50;
$coral-red:     #ff4545;
$sunglow:       #ffba33;

// Grays
$black:         #000000;
$mineshaft:     #333333;
$silver:        #bcbcbc;
$alto:          #d8d8d8;
$mercury:       #e6e6e6;
$wildsand:      #f6f6f6;
$concrete:      #f2f2f2;
$white:         #ffffff;

// Brands
$facebook:      #4065b4;
$google:        #df4a32;

// R&R
$darkblue:      #0089ff;
$lightblue:     #73cbff;
$textcolor:     #312813;
$radicalred:    #FF2369;
$green:         #507956;

$primary: #f3e9d3;
$secondary: #efebe6;
