.s-entry-content--center {
  text-align: center;
}

.s-entry-content--large {
  @include fluid-type(font-size, 320px, 1040px, 18px, 22px);
}


// Headings ----------------------------

.s-entry-content {
  h1 {
    // @extend .c-title;
  }
}


// Lists -------------------------------

.s-entry-content {
  ol {
    list-style-type: decimal;
  }

  ul {
    list-style-type: disc;
  }

  ol,
  ul {
    padding-left: 1.5em;
  }

  li ol,
  li ul {
    margin: 0;
  }

  li:not(:last-child) {
    margin-bottom: 0.5em;
  }
}


// Quotes ------------------------------

.s-entry-content {
  blockquote,
  blockquote + figcaption {
    @extend .o-container;
    @extend .o-container--slim;
    width: auto;
  }

  blockquote {
    font-size: 1.25em;
    padding-left: 1.5em;
    position: relative;

    p:first-child::before {
      content: "“";
      position: absolute;
      left: 0;
      font-size: 3em;
      line-height: 1em;
      transform: rotate(0deg);
      color: #d5d5d5;
    }

    // p:last-child::after {
    //   content: "”";
    // }
  }

  blockquote + figcaption::before {
    content: "— ";
  }
}


// Media -------------------------------

.s-entry-content {
  figure {
    @include fluid-type(margin-left margin-right, 825px, 1040px, 0px, -80px);
    @include fluid-type(margin-bottom margin-top, 22.857142857em, 57.777777778em, 1.5em, 3em);

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  figcaption {
    color: $gumbo;
    font-size: 0.875em;
    margin-top: 0.5rem;
  }
}


// Vertical spacing --------------------

.s-entry-content {
  h1,
  h2,
  ol,
  p,
  ul {
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}


// Content -----------------------------

.s-entry-content__lead {
  font-size: 1.25em;
}

.s-entry-content__embed {
  height: 0;
  padding-top: 56.25%;
  position: relative;

  iframe {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}
