<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bec &amp; Ry</title>

    <!-- Search Engine -->
    <meta name="image" content="https://becandry.com/static/img/engagement-shoot/engaged-19.jpg">
    <meta name="robots" content="index, follow">

    <!-- Schema.org for Google -->
    <meta itemprop="name" content="Bec &amp; Ry">
    <meta itemprop="description" content="We're getting married!">
    <meta itemprop="image" content="https://becandry.com/static/img/engagement-shoot/engaged-19.jpg">

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Bec &amp; Ry">
    <meta name="twitter:description" content="We're getting married!">
    <meta name="twitter:site" content="becandry">
    <meta name="twitter:image:src" content="https://becandry.com/static/img/engagement-shoot/engaged-19.jpg">

    <!-- Open Graph general (Facebook, Pinterest & Google+) -->
    <meta property="og:site_name" content="Bec &amp; Ry">
    <meta property="og:type" content="website">

    <link rel="icon" href="/static/img/icons/favicon-32x32.png">
    <meta name="theme-color" content="#ffffff">

    <script async defer src="https://cdnjs.cloudflare.com/ajax/libs/masonry/4.0.0/masonry.pkgd.min.js"></script>

    <% for (var chunk of webpack.chunks) {
        for (var file of chunk.files) {
          if (file.match(/\.(js|css)$/)) { %>
    <link rel="<%= chunk.initial?'preload':'prefetch' %>" href="<%= htmlWebpackPlugin.files.publicPath + file %>" as="<%= file.match(/\.css$/)?'style':'script' %>"><% }}} %>
  </head>
  <body>
    <noscript>
      You'll need to enable JavaScript to use this site.
    </noscript>
    <div id="app"></div>
    <!-- Todo: only include in production -->
    <%= htmlWebpackPlugin.options.serviceWorkerLoader %>
    <!-- built files will be auto injected -->
  </body>
</html>
