<template>
  <div :class="'c-content-block' + [swap ? ' c-content-block--swap' : ''] + [largeImg ? ' c-content-block--large-img' : '']">
    <div class="c-content-block__column">
      <img class="c-content-block__image" :src="src" alt="">
    </div>
    <div class="c-content-block__column">
      <slot></slot>
    </div>
  </div>
  <!-- /c-content-block -->
</template>

<script>
export default {
  name: 'content-block',
  props: {
    src: {
      type: String,
      required: true,
    },
    swap: {
      type: Boolean,
    },
    largeImg: {
      type: Boolean,
    },
  },
};
</script>
