<template>
  <footer class="c-footer c-section c-section--tiny" id="footer">
    <div class="o-container o-container--narrow">
      <div class="s-entry-content s-entry-content--center">
        <p class="lead">Thank You</p>
        <p>We want to thank everyone for their love, support and excitement that you have shared with us since our engagement. It feels amazing to have loving family and friends. We don’t know what we would do without each and every one of you.</p>
      </div>
      <ul class="c-footer__menu">
        <li>
          <router-link to="/" exact>Home / Rsvp</router-link>
        </li>
        <li>
          <router-link :to="{ name: 'whats-happening' }">What's happening</router-link>
        </li>
        <li>
          <router-link :to="{ name: 'venue' }">The venue</router-link>
        </li>
        <li>
          <router-link :to="{ name: 'entertainment' }">Entertainment</router-link>
        </li>
        <li>
          <router-link :to="{ name: 'engagement' }">Our engagement</router-link>
        </li>
      </ul>
    </div>
  </footer>
  <!-- /c-footer -->
</template>

<script>
export default {
  name: 'footer',
};
</script>
