<template>
  <header class="c-header js-header" id="header" role="banner">

    <div class="c-site-logo__wrapper">
      <router-link class="c-site-logo" to="/" title="R&amp;R Home">
        <icon name="logo" role="img"></icon>
      </router-link>
    </div>
    <!-- /c-site-logo -->

    <a class="c-header__toggle" href="#" title="Open navigation" v-on:click.prevent="toggleNav()">
      Menu
      <icon name="navicon" role="img" label="Open navigation"></icon>
    </a>
    <!-- /c-header__toggle -->

  </header>
  <!-- /c-header -->
</template>

<script>
// vue
import Icon from '@/components/Icon';

// mixins
import toggle from '@/mixins/toggle';

export default {
  name: 'header',
  components: {
    Icon,
  },
  mixins: [toggle],
  data() {
    return {
      action: {
        title: false,
        category: false,
      },
    };
  },
};
</script>
