<template>
  <section :class="'c-hero ' + [video ? 'c-hero--video' : 'c-hero--image']" id="hero">
    <div class="c-hero__background">
      <video class="c-hero__media" autoplay loop muted v-if="video">
        <source :src="src" type="video/mp4">
      </video>
      <img class="c-hero__media" :src="src" alt="" v-else>
    </div>
    <div class="c-hero__content">
      <div class="o-container">
        <div class="c-hero__container">
          <slot></slot>
        </div>
      </div>
    </div>
  </section>
  <!-- /c-hero -->
</template>

<script>
export default {
  name: 'hero',
  props: {
    src: {
      type: String,
    },
    video: {
      type: Boolean,
    },
  },
};
</script>
