<template>
  <ul class="c-main-menu">
    <li class="c-main-menu__item">
      <router-link class="c-main-menu__link c-main-menu__link--large" to="/" exact>Home / Rsvp</router-link>
    </li>
    <li class="c-main-menu__item">
      <router-link class="c-main-menu__link c-main-menu__link--large" :to="{ name: 'whats-happening' }">What's happening</router-link>
    </li>
    <li class="c-main-menu__item">
      <router-link class="c-main-menu__link c-main-menu__link--large" :to="{ name: 'venue' }">The venue</router-link>
    </li>
    <li class="c-main-menu__item">
      <router-link class="c-main-menu__link c-main-menu__link--large" :to="{ name: 'entertainment' }">Entertainment</router-link>
    </li>
    <li class="c-main-menu__item">
      <router-link class="c-main-menu__link c-main-menu__link--large" :to="{ name: 'engagement' }">Our engagement</router-link>
    </li>
  </ul>
  <!-- /c-main-menu -->
</template>

<script>
// mixins
import toggle from '@/mixins/toggle';

export default {
  name: 'main-menu',
  mixins: [toggle],
};
</script>
