<template>
  <transition name="c-nav">
    <nav class="c-nav" id="nav" role="navigation" v-if="open">
      <div class="o-container c-nav__container">

        <!-- <router-link class="c-site-logo" to="/" title="R&amp;R Home">
          <icon name="logo" role="img"></icon>
        </router-link> -->
        <!-- /c-site-logo -->

        <a class="c-nav__toggle" href="#header" title="Close navigation" v-on:click.prevent="toggleNav()">
          <icon name="cross" role="img" label="Close navigation"></icon>
        </a>
        <!-- /c-nav__toggle -->

        <main-menu></main-menu>

      </div>
    </nav>
    <!-- /c-nav -->
  </transition>
</template>

<script>
// vue
import Icon from '@/components/Icon';
import MainMenu from '@/components/MainMenu';

// mixins
import toggle from '@/mixins/toggle';

export default {
  name: 'nav',
  components: {
    icon: Icon,
    'main-menu': MainMenu,
  },
  mixins: [toggle],
  computed: {
    open() {
      return this.$store.state.isNavOpen;
    },
  },
};
</script>
