<template>
  <div class="c-form">
    <div class="c-section-title">
      <p class="lead">Make a song request!</p>
    </div>

    <form v-show="!success">
      <div class="c-input-field" v-bind:class="{'c-form-error': titleError}">
        <input type="text" name="title" id="title" v-model="newSong.title">
        <label for="title" class="c-placeholder" v-bind:class="{ active: newSong.title }" >Song title</label>
        <small class="c-error-message">Please enter the song title</small>
      </div>

      <div class="c-input-field" v-bind:class="{'c-form-error': artistError}">
        <input type="text" name="artist" id="artist" v-model="newSong.artist">
        <label for="artist" class="c-placeholder" v-bind:class="{ active: newSong.artist }" >Artist</label>
        <small class="c-error-message">Please enter an artist</small>
      </div>

      <div class="c-form__submit">
        <button type="submit" class="c-button c-button--black" @click.prevent="submitForm">Submit</button>
      </div>
    </form>

    <div v-show="success" class="c-form-success">
      <svg width="110" height="110" focusable="false" role="img" aria-label="R&amp;R">
        <use xlink:href="/static/img/icons.svg#icon-thumbs-up"></use>
      </svg>
      <h3>Thanks for adding a song to the playlist!</h3>
      <button type="submit" class="c-button c-button--black" @click="success = false">Add another song</button>
    </div>

    <div class="c-table-wrap">
      <table class="c-table c-table--alt">
        <thead>
          <tr>
            <th>Title</th>
            <th>Artist</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="song in songs">
            <td>{{song.title}}</td>
            <td>{{song.artist}}</td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</template>

<script>
// import * as firebase from 'firebase';
import db from '../firebase';

export default {
  name: 'playlist-form',
  data() {
    return {
      newSong: {
        title: '',
        artist: '',
      },
      artistError: false,
      titleError: false,
      success: false,
    };
  },
  firebase: {
    songs: db.ref('playlist'),
  },
  methods: {
    validateForm() {
      // check name
      this.artistError = !this.validateString(this.newSong.artist);
      this.titleError = !this.validateString(this.newSong.title);

      // check for any errors
      if (this.artistError || this.titleError) {
        return false;
      }

      // success
      return true;
    },
    validateString(string) {
      if (string === '') {
        return false;
      }
      return true;
    },
    submitForm() {
      if (!this.validateForm()) return;

      db
        .ref('playlist')
        .push(this.newSong)
        .then(() => {
          this.success = true;
          this.newSong.artist = '';
          this.newSong.title = '';
        })
        .catch(() => {
          this.success = false;
        });
    },
  },
};
</script>
