<template>
  <div class="c-form">

    <div class="c-section-title">
      <p class="lead">Will you be celebrating&nbsp;with&nbsp;us?</p>
      <p class="lead">Please rsvp by 20&nbsp;December&nbsp;2017</p>
    </div>

    <form v-show="!success">
      <div class="c-input-field" v-bind:class="{'c-form-error': nameError}">
        <input type="text" name="name" id="name" v-model="newRsvp.name">
        <label for="name" class="c-placeholder" v-bind:class="{ active: newRsvp.name }" >Full name</label>
        <small class="c-error-message">Please enter your name</small>
      </div>

      <div class="c-input-field" v-bind:class="{'c-form-error': emailError}">
        <input type="email" name="email" id="email" v-model="newRsvp.email">
        <label for="email" class="c-placeholder" v-bind:class="{ active: newRsvp.email }">Personal Email</label>
        <small class="c-error-message">Please enter a valid personal email address</small>
      </div>

      <div class="c-input-field" v-bind:class="{'c-form-error': attendingError}">
        <p class="c-radio-title">Attending?</p>
        <ul class="c-radios">
          <li class="c-radios__item">
            <input type="radio" name="device" id="attending-yes" value="Yes" v-model="newRsvp.attending">
            <label for="attending-yes">Yes</label>
          </li>
          <li class="c-radios__item">
            <input type="radio" name="device" id="attending-no" value="No" v-model="newRsvp.attending">
            <label for="attending-no">No</label>
          </li>
        </ul>
        <small class="c-error-message">Please select whether you are attending or not</small>
      </div>

      <div class="c-input-field" v-bind:class="{'c-form-error': dietError}">
        <textarea name="diet" id="diet" cols="30" rows="10" v-model="newRsvp.diet"></textarea>
        <label for="diet" class="c-placeholder" v-bind:class="{ active: newRsvp.diet }">Special notes / dietary requirements</label>
        <small class="c-error-message">Please answer this question</small>
      </div>

      <div class="c-form__submit">
        <button type="submit" class="c-button c-button--black" @click.prevent="submitForm">Submit</button>
      </div>

      <p class="c-form__notice"><small>Please add 1 guest at a time.</small></p>
    </form>

    <div v-show="success" class="c-form-success">
      <svg width="110" height="110" focusable="false" role="img" aria-label="R&amp;R">
        <use xlink:href="/static/img/icons.svg#icon-thumbs-up"></use>
      </svg>
      <h3>Thanks for Rsvp'ing!</h3>
      <p>You're all set. Feel free to bookmark our website and check back for all the info you'll need on our special day.</p>
      <p>Don't forget to check out <router-link to="/whats-happening">what's&nbsp;happening</router-link> and make a <router-link to="/entertainment">song&nbsp;request</router-link>.</p>
      <button type="submit" class="c-button c-button--black" @click="success = false">Add another guest</button>
    </div>

  </div>
</template>

<script>
import db from '../firebase';

export default {
  name: 'rsvp-form',
  data() {
    return {
      newRsvp: {
        name: '',
        email: '',
        attending: null,
        diet: '',
      },
      nameError: false,
      emailError: false,
      attendingError: false,
      dietError: false,
      success: false,
      rsvps: [],
    };
  },
  firebase: {
    rsvps: db.ref('rsvp'),
  },
  methods: {
    validateForm() {
      // check name
      this.nameError = !this.validateName(this.newRsvp.name);

      // validate email
      this.emailError = !this.validateEmail(this.newRsvp.email);

      // validate attending
      this.attendingError = !this.validateAttending(this.newRsvp.attending);

      // check for any errors
      if (this.emailError || this.nameError || this.attendingError) {
        return false;
      }

      // success
      return true;
    },
    validateAttending(attending) {
      if (attending === null) {
        return false;
      }
      return true;
    },
    validateEmail(email) {
      const re = /^(([^<>()\]\\.,;:\s@"]+(\.[^<>()\]\\.,;:\s@"]+)*)|(".+"))@(([0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;

      return re.test(email);
    },
    validateName(name) {
      if (name === '') {
        return false;
      }
      return true;
    },
    submitForm() {
      if (!this.validateForm()) return;

      db
        .ref('rsvp')
        .push(this.newRsvp)
        .then(() => {
          this.success = true;
          this.newRsvp.name = '';
          this.newRsvp.email = '';
          this.newRsvp.attending = null;
          this.newRsvp.diet = '';
        })
        .catch(() => {
          this.success = false;
        });
    },
  },
};
</script>
