<template>
  <div class="hello">
    {{ calculate_something }}
  </div>
</template>

<script>
export default {
  name: 'hello',
  data() {
    return {
      test_message: 'Cute test',
    };
  },

  computed: {
    calculate_something() {
      return 5 * 6;
    },
  },
};
</script>
