<template>
  <div>
    <div id="map"></div>
  </div>
</template>
<script>
export default {
  name: 'venue-map',
  data() {
    return {
      styles: [
        {
          featureType: 'administrative',
          elementType: 'labels.text.fill',
          stylers: [
            {
              color: '#444444',
            },
          ],
        },
        {
          featureType: 'landscape',
          elementType: 'all',
          stylers: [
            {
              color: '#f2f2f2',
            },
          ],
        },
        {
          featureType: 'poi',
          elementType: 'all',
          stylers: [
            {
              visibility: 'off',
            },
          ],
        },
        {
          featureType: 'road',
          elementType: 'all',
          stylers: [
            {
              saturation: -100,
            },
            {
              lightness: 45,
            },
          ],
        },
        {
          featureType: 'road.highway',
          elementType: 'all',
          stylers: [
            {
              visibility: 'simplified',
            },
          ],
        },
        {
          featureType: 'road.arterial',
          elementType: 'labels.icon',
          stylers: [
            {
              visibility: 'off',
            },
          ],
        },
        {
          featureType: 'transit',
          elementType: 'all',
          stylers: [
            {
              visibility: 'off',
            },
          ],
        },
        {
          featureType: 'water',
          elementType: 'all',
          stylers: [
            {
              color: '#B5E2F3',
            },
            {
              visibility: 'on',
            },
          ],
        },
      ],
      center: {
        lat: -32.6204934,
        lng: 151.5899569,
      },
      zoom: 8,
      markers: [
        {
          position: {
            lat: -32.620493,
            lng: 151.5899569,
          },
          infoText: 'Tocal Homestead, Paterson, NSW<br /><a href="https://www.google.com.au/maps/place/Tocal+Homestead/@-32.620493,151.5899569,17z/data=!3m1!4b1!4m5!3m4!1s0x6b735b9c40bbee5f:0xdb77d2ee6459c02f!8m2!3d-32.620493!4d151.5910566" target="_blank">Get directions ></a>',
        },
      ],
    };
  },
  mounted() {
    window.initMaps = this.initMaps;
    const googleapi = document.createElement('script');
    googleapi.setAttribute('src', 'https://maps.googleapis.com/maps/api/js?key=AIzaSyA8VOa-cmf9hEH_sTEYG012l7XeY3YVUPE&libraries=places&callback=initMaps');
    document.head.appendChild(googleapi);
  },
  methods: {
    initMaps() {
      /* eslint-disable no-undef */

      this.map = new google.maps.Map(this.$el.querySelector('#map'), {
        zoom: this.zoom,
        center: this.center,
        styles: this.styles,
      });

      this.infowindow = new google.maps.InfoWindow({
        content: this.markers[0].infoText,
      });

      this.marker = new google.maps.Marker({
        position: this.markers[0].position,
        map: this.map,
        title: 'Tocal Homestead',
      });

      this.marker.addListener('click', this.open);
      this.open();
    },
    open() {
      this.infowindow.open(this.map, this.marker);
    },
  },
};
</script>
