<template>
  <div id="app" class="o-body-wrap"
  :class="{'is-scrolled': scrolled}">
    <app-header></app-header>
    <app-nav></app-nav>
    <main class="c-main" id="main" role="main">
      <router-view></router-view>
    </main>
    <app-footer></app-footer>
  </div>
</template>

<script>
import Header from '@/components/Header';
import Footer from '@/components/Footer';
import Nav from '@/components/Nav';
import toggle from '@/mixins/toggle';

export default {
  name: 'app',
  components: {
    'app-header': Header,
    'app-nav': Nav,
    'app-footer': Footer,
  },
  mixins: [toggle],
  data() {
    return {
      scrolled: false,
    };
  },
  methods: {
    scroll() {
      const heroHeight = (document.getElementById('hero') || {}).offsetHeight || 0;
      this.scrolled = window.scrollY >= heroHeight;
    },
    keyup(e) {
      if (e.keyCode === 27) this.toggleOverlay();
    },
  },
  created() {
    setTimeout(this.scroll, 0);
    window.addEventListener('scroll', this.scroll);
  },
};
</script>

<style lang="scss">
  @import "src/stylesheets/index";
</style>
