a {
  @extend .u-transition;
  color: inherit;

  &:hover {
    text-decoration: none;
  }
}

.c-link {
  @extend .u-transition;
  border: 0;
  display: inline-block;
  font-weight: 700;
  line-height: 1;
  vertical-align: top;
  background: none;
  color: $prussian-blue;
  font-size: 0.9em;

  align-items: center;
  display: inline-flex;
  justify-content: center;
  text-decoration: underline;

  &:hover, &:focus {
    text-decoration: none;
  }
}

.c-link__icon {
  font-size: 1.2em;
  margin-right: 0.5em;
}
