.c-button {
  @extend .u-transition;
  border-radius: 0.4em;
  border-width: 0;
  display: inline-block;
  font-weight: 600;
  height: 3em;
  line-height: 1;
  min-width: 3em;
  vertical-align: top;
  padding: 0 1.5em;
  font-size: 16px;
  background: transparent;
  font-family: Montserrat, sans-serif;
}

a.c-button {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  text-decoration: none;
}


// Colors ------------------------------

.c-button--primary {
  color: $textcolor;
  background-color: $primary;
  // border: 2px solid $primary;

  &:hover {
    color: $primary;
    background-color: $textcolor;
  }
}

.c-button--black {
  color: $white;
  background-color: $black;
  border: 2px solid $black;

  &:hover {
    color: $black;
    background-color: $white;
  }
}

.c-button--white {
  color: $black;
  background-color: $white;

  &:hover {
    color: $white;
    background-color: $black;
  }
}

.c-button--white {
  color: $black;
  background-color: $white;

  &:hover {
    color: $white;
    background-color: $black;
  }
}

.c-button--white-alt {
  color: $white;
  border: 1px solid $white;

  &:hover {
    color: $black;
    background-color: $white;
  }
}

.c-button[disabled] {
  opacity: 0.5;
  pointer-events: none;
}
