.c-content-block {
  margin: -2em 0 0 -4em;

  @media (min-width: 60em) {
    display: flex;
  }
}

.c-content-block__column {
  padding: 2em 0 0 4em;

  @media (min-width: 60em) {
    &:first-child {
      flex-basis: calc(50% - 2.5em);
      flex-grow: 1;
      flex-shrink: 0;
      max-width: calc(50% - 2.5em);

      .c-content-block--swap & {
        order: 1;
      }

      .c-content-block--large-img & {
        flex-basis: calc(57% - 2.5em);
        max-width: calc(57% - 2.5em);
      }
    }

    &:last-child {
      align-self: center;
      flex-basis: calc(50% + 2.5em);
      flex-grow: 1;
      flex-shrink: 0;
      max-width: calc(50% + 2.5em);

      .c-content-block--large-img & {
        flex-basis: calc(43% + 2.5em);
        max-width: calc(43% + 2.5em);
      }
    }
  }
}


.c-content-block__image {
  width: 100%;
}

.c-content-block__item {
  @include fluid-type(margin-bottom margin-top, 22.857142857rem, 57.777777778rem, 1.2rem, 1.5rem);

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}


// Become a citizen --------------------

.c-content-block--center {
  text-align: center;

  @media (min-width: 60em) {
    align-items: center;
    text-align: left;
  }
}

.c-content-block__column--inline {
  @media (min-width: 60em) {
    flex: 0 1 auto !important;
    max-width: none !important;
  }
}

.c-content-block__logo {
  @include fluid-type(font-size, 22.857142857em, 57.777777778em, 8em, 14em);
  display: block;
  fill: $white;
  height: 1em;
  margin: 0 auto;
  width: 1.046425em;
}
