// Background half color ----------------------------------
.c-footer {
  background: $concrete;
  position: relative;
}

// Menu list --------------------------------------------
.c-footer__menu {
  margin: 2em 0 0;
  text-align: center;

  li {
    display: inline-block;
    vertical-align: middle;
    padding: 0 1.3em 1em 0;

    a {
      font-size: 0.9em;
      line-height: 1em;

      &:hover {
        text-decoration: none;
      }
    }

    &:last-child {
      padding-right: 0;
    }
  }

}
