.c-input-wrap {
  margin-bottom: 1.5em;
  width: 100%;
  max-width: 100%;
}


.pac-container {
  z-index: 9999;
}

// Inputs ----------------------------------------

input:not([type="submit"]):not([type="checkbox"]) {
  border: 0;
  padding: 0.7em 0;
  border-bottom: 2px solid $prussian-blue;
  font-size: 16px;
  display: block;
  color: $prussian-blue;

  &::placeholder {
    color: $gumbo;
    font-size: 0.9rem;
  }

  .form-error & {
    color: $google;
    border-color: $google;
  }
}

input[type="checkbox"] {
  display: inline-block;
}

small.error-message {
  display: none;
  color: $google;
  text-align: left;
  margin: 0.3em 0 0;

  .form-error & {
    display: block;
  }
}


// Checkbox ----------------------------------------

.custom-checkbox {

  label {
    position: relative;
    padding-left: 1.8em;
    font-size: 0.85em;
    transition: opacity 0.15s;

    &:before {
      content: '';
      width: 1.2em;
      height: 1.2em;
      position: absolute;
      top: 0;
      left: 0;
      border: 2px solid $prussian-blue;
      border-radius: 0.2em;
      transition: opacity 0.15s;
    }

    &:after {
      content: '';
      width: 0.8em;
      height: 0.45em;
      position: absolute;
      top: 0.28em;
      left: 0.25em;
      border: 0.2em solid $white;
      border-top: none;
      border-right: none;
      background: transparent;
      opacity: 0;
      transform: rotate(-45deg) translateZ(0);
      transition: opacity 0.15s;
    }

    &:hover {
      &::after {
        opacity: 0.2;
        border-color: $prussian-blue;
      }
    }
  }

  input[type="checkbox"] {
    position: absolute;
    visibility: hidden;

    &:checked + label {
      &:after {
        opacity: 1;
      }
      &::before {
        background: $prussian-blue;
      }
      &:hover {
        &::after {
          opacity: 0.6;
          border-color: $white;
        }
      }
    }
  }
}


// Recaptcha -------------------------------------

#recaptcha-container div {
  margin: 0 0 1em;

  @media (max-width: 37.4375em) {
    transform: scale(0.9);
  }
}


// Phone input with area code select -------------

.phone-input {
  display: flex;
  margin: 0.5em 0;

  input[type="tel"] {
    padding: 0 0.7em;
    width: auto;
    height: 2.2rem;
  }
}

.phone-input__select {
  background: none;
  overflow: hidden;
  flex: 0 1 auto;
  position: relative;
  border-bottom: 2px solid $prussian-blue;
  background-color: $mercury;
  padding: 0 0.5em;
  display: flex;
  align-items: center;

  label {
    font-size: 16px;
  }
}

.phone-input__select select {
  background: transparent;
  border: none;
  color: transparent !important;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.phone__description {
  font-size: 0.8em;
  margin-bottom: 1em;
}


