.c-form {
  color: $textcolor;
  border-radius: 0.3em;
  padding: 2.7em;
  width: 100%;
  box-shadow: 0 0 1px 0 rgba(82,29,159,0.40);
  width: 600px;
  max-width: 94%;
  margin: -4rem auto 4rem;
  background: $white;
  position: relative;
  z-index: 1;

  @media(max-width: 48em) {
    padding: 2em 1em;
  }
}

.c-input-field {
  position: relative;
  margin: 2.5em 0;

  &:first-child {
    margin-top: 0;
  }
}

.c-form__submit {
  margin: 1em 0 0;
  text-align: left;
}

.c-form__notice {
  margin: 1em 0 0;
  color: $black;

}

.c-radio-title {
  margin-bottom: 0.5em;
}

.c-error-message {
  position: absolute;
  color: $radicalred;
  bottom: -1.6em;
  font-size: 12px;
  display: none;

  .c-form-error & {
    display: block;
  }
}


// Form elements ---------------

form {
  label, p {
    font-size: 16px;
    display: inline-block;
  }
}

// Text and textarea fields
textarea,
input:not([type="submit"]):not([type="checkbox"]) {
  width: 100%;
  border: 0;
  padding: 0;
  border-bottom: 2px solid $textcolor;
  background: none;
  background: transparent;
  box-shadow: none;
  line-height: 1.2em;
  padding: 0.3em 0;
  color: $black;
  font-weight: 300;
  font-family: Montserrat, sans-serif;
  @include fluid-type(font-size, 320px, 1040px, 16px, 18px);

  @media (max-width: 48em) {
    padding: 0.4em 0;
  }

  .c-form-error & {
    border-bottom: 2px solid $radicalred;
  }

  &:focus {
    outline: 0;
  }
}

input[type="checkbox"] {
  margin-right: 0.5rem;
}

textarea {
  height: 6em;
  max-width: 100%;
  min-width: 100%;
}

label.c-placeholder {
  position: absolute;
  z-index: 1;
  top: 1em;
  transform: translateY(-50%);
  transition: all 0.15s;
  pointer-events: none;
  line-height: 1em;
  left: 0;
  width: 100%;

  opacity: 0.5;
  // text-transform: uppercase;
  // font-size: 0.8em;
  // letter-spacing: 0.1em;

  &.active,
  textarea:focus + &,
  input:not([type="submit"]):not([type="checkbox"]):focus + & {
    transform: translateY(-100%);
    top: 0;
    font-size: 14px;
  }
}


// Select boxes
.select2-selection {
  border-bottom: 2px solid $textcolor;
  padding: 0;
  box-shadow: none;
}


// Radios
.c-radios__item {
  display: inline-block;
  margin-right: 2em;

  .c-radios--centered & {
    text-align: center;
  }
}

input[type="radio"] {

  &:checked,
  &:not(:checked) {
    position: absolute;
    left: -9999px;

    + label {
      position: relative;
      padding: 0 0 0 1.8em;
      cursor: pointer;
      line-height: 22px;
      display: inline-block;
      transition: all 0.15s;

      .c-radios--centered & {
        @include fluid-type(font-size, 320px, 1040px, 12px, 16px);
        padding: 2.2em 0 0;
        line-height: 1.2em;
      }

      &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 20px;
        height: 20px;
        border: 1px solid $textcolor;
        background: $white;
        border-radius: 100%;

        .c-radios--centered & {
          left: 50%;
          transform: translateX(-50%);

          @media (max-width: 48em) {
            width: 14px;
            height: 14px;
          }
        }
      }

      &:after {
        content: '';
        width: 12px;
        height: 12px;
        background: $textcolor;
        position: absolute;
        top: 4px;
        left: 4px;
        border-radius: 100%;
        transition: all 0.2s ease;

        .c-radios--centered & {
          left: 50%;
          transform: translateX(-50%);

          @media (max-width: 48em) {
            top: 3px;
            width: 8px;
            height: 8px;
          }
        }
      }
    }
  }

  &:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
  }

  &:checked + label {
    &:after {
      opacity: 1;
      transform: scale(1);
    }

    .c-radios--centered & {
      color: $textcolor;
    }
  }

}

.c-form-success {
  text-align: center;
  color: $black;

  svg {
    fill: $textcolor;
    margin-bottom: 1.5em;
  }

  p {
    max-width: 20em;
    margin: 0 auto 1em;
  }
}
