.c-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: inherit;
  position: fixed;
  transition: background-color 0.25s ease-out;
  width: 100%;
  z-index: 2;
  padding: 0.5em;

  // @media (max-width: 37.4375em) {
  //   background-color: $white;
  // }

  .is-scrolled & {
    background-color: $white;
    box-shadow: 0 .15em .25em rgba($black, 0.125);

    @media (min-width: 37.5em) {
      background-color: rgba($white, 0.975);
    }
  }
}

.c-header__toggle {
  background-image: linear-gradient(135deg, rgba($secondary, 0.7) 0%, rgba($primary, 0.9) 80%);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  padding: 0 0.5em 0 0.75em;
  font-size: 0.8em;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 400;

  .o-icon {
    fill: $textcolor;
    font-size: 1.75em;
    padding: 0.25em;
  }
}

.c-header__signin {
  order: -1;
  margin-left: 2em;
  display: flex;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: 0.25s opacity, 0.25s visibility;

  .is-scrolled &,
  .is-sticky & {
    visibility: visible;
    opacity: 1;
  }

  .c-button {
    height: 2.3em;
    min-width: auto;
    box-shadow: none;
  }

  .c-text {
    margin-left: 1.5em;
  }

  &.has-extras {
    .c-text {
      font-size: .8em;
    }
  }
}


@media (max-width: 37.4375em) {
  .c-header__signin {
    display: none;
  }
}

@media (max-width: 48em) {
  .c-header__signin.has-extras {
    display: none;
  }
}
