.c-hero {
  color: $mineshaft;
  position: relative;
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  p {
    max-width: 36em;
    margin: 0 auto 1em;
  }
}


// Background --------------------------

.c-hero__background {
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
  // background: $mineshaft;
  opacity: 0.3;

  // &::before {
  //   background-image: linear-gradient(139deg, #24B5DC 0%, #1F97C7 13%, #1C7FB5 23%, #196DA8 31%, #113D85 51%, #0B2866 90%, #0B2865 91%, #09235E 100%);
  //   background: $white;
  //   content: "";
  //   height: 100%;
  //   left: 0;
  //   opacity: 0.9;
  //   pointer-events: none;
  //   position: absolute;
  //   top: 0;
  //   width: 100%;
  // }
}

.c-hero__media {
  font-family: "object-fit: cover;";
  height: 100%;
  object-fit: cover;
  width: 100%;
  // mix-blend-mode: overlay;
}

video.c-hero__media::-webkit-media-controls-start-playback-button {
  display: none !important;
}


// Content -----------------------------

.c-hero__content {
  align-items: center;
  display: flex;
  width: 100%;
  min-height: 40vh;

  .c-hero--video & {
    min-height: 70vh;
  }
}

.c-hero__container {
  text-align: center;

  img:first-child {
    margin-bottom: 2em;
  }

  img:last-child {
    transform: rotate(180deg);
    margin-top: 2em;
  }

  h1 {
    margin-bottom: 0.1em;
  }
}

ul.vue-countdown {
  margin-top: 2rem;
}

.c-hero__title {
  @include fluid-type(font-size, 320px, 1040px, 70px, 120px);
}

.c-circle-img {
  border-radius: 50%;
  width: 10em;
  height: 10em;
  background-size: cover;
  background-position: 50% 40%;
  display: block;
  margin: 0 auto 3em;
}
