.c-main-menu {
  line-height: 1;
}

.c-main-menu__item {
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-name: main-menu;
  display: flex;
  opacity: 0;
  transform: translatey(-2rem);
  visibility: hidden;

  @for $i from 1 through 10 {
    &:nth-child(#{$i}) {
      animation-delay: $i * 0.05s;
    }
  }
}

.c-main-menu__item--button {
  margin-top: 1em;

  &:last-child {
    margin-top:  2rem;
  }
}

.c-main-menu__item--text {
  display: block;
  margin-top: 2em;
}

.c-main-menu__link {
  background-color: transparent;
  border-width: 0;
  color: rgba($textcolor, 0.6);
  padding: 0.8rem 0;
  position: relative;
  text-decoration: none;
  font-weight: 300;

  &::before {
    color: $textcolor;
    content: "—";
    margin-right: 0.5em;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    right: 100%;
    transition: inherit;
    visibility: hidden;

    @media (max-width: 47.9375em) {
      display: none;
    }
  }

  &:hover,
  &.is-active {
    color: $textcolor;
  }

  &.is-active::before {
    opacity: 1;
    visibility: visible;
  }
}

.c-main-menu__link--large {
  font-size: 4em;
  line-height: 1em;
  font-family: Jasmine, sans-serif;
  font-weight: 600;
  padding: 0;
}

@keyframes main-menu {
  100% {
    opacity: 1;
    transform: translatey(0);
    visibility: visible;
  }
}
