#map {
  width: 100%;
  height: 50vh;
  min-height: 20em;
}

.gm-style-iw {
  font-size: 1.2em;
  line-height: 1.3em;
  color: $textcolor;
  font-family: Montserrat, sans-serif;
  font-weight: 100;
  line-height: 1.5;
}
