.post {
  width: calc(100% - 1em);
  margin: 0.5em;
  background: $white;
  box-shadow: 0 0.2em 0.5em rgba($black, 0.1);
  overflow: hidden;

  @media (min-width: 32em) {
    width: calc(50% - 1em);
  }

  @media (min-width: 48em) {
    width: calc(33.33333% - 1em);

    &.post-4col {
      width: calc(25% - 1em);
    }
  }

  p {
    padding: 1.5em;
    font-size: 0.8em;
  }
}

.insta-grid {
  background: #f9f9f9;
}

.download {
  position: relative;
  display: inline-block;
  transition: all 0.2s;
  width: 100%;

  img {
    width: 100%;
  }

  div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba($black, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    color: $white;
    opacity: 0;
    transition: all 0.2s;
    font-weight: bold;
  }

  &:hover {
    div {
      opacity: 1;
    }
  }
}

$orange: #FFCD73;
$yellow: #ff0000;
$pink: #FF2369;
$blue: #24b5dc;
$blue2: #09235e;

.photo-grid {
  background-image: linear-gradient(135deg, rgba($secondary, 0.5) 0%, rgba($primary, 0.5) 80%);
}

.load-more {
  margin: 4em auto 0;
  display: block;
  min-width: 50%;
}
