.c-nav {
  align-items: center;
  background-color: $primary;
  background: linear-gradient(135deg, rgba($secondary, 0.5) 0%, rgba($primary, 0.5) 80%) $white;
  box-shadow: 50vw 0 $primary, -50vw 0 $primary;
  color: $white;
  display: flex;
  height: 100%;
  max-width: inherit;
  position: fixed;
  width: 100%;
  will-change: transform, opacity, visibility;
  z-index: 2;

  .no-js & {
    display: none;

    &:target {
      display: block;
    }
  }
}

.c-nav__container {
  max-width: 640px;
}

.c-nav__toggle {
  color: inherit;
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  margin: 0.5em;

  .o-icon {
    fill: $textcolor;
    font-size: 1.75em;
    padding: 0.25em;
  }
}


// Animation ---------------------------

.c-nav-enter-active {
  animation: 0.25s ease-out navigation;
}

.c-nav-leave-active {
  animation: 0.25s ease-in reverse navigation;
}

@keyframes navigation {
  0% {
    opacity: 0;
    visibility: hidden;
  }

  100% {
    opacity: 1;
    visibility: visible;
  }
}
