.c-site-logo__wrapper {
  display: flex;
  align-items: center;
}

.c-site-logo {
  color: inherit;
  display: flex;
  padding: 0;
  border-radius: 50%;
  // background-image: #4b8071;
  background-image: linear-gradient(135deg, rgba($secondary, 0.7) 0%, rgba($primary, 0.9) 80%);
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  margin-right: 0.4rem;

  .o-icon {
    fill: $textcolor;
    font-size: 2em;
  }

  .c-nav & {
    left: 0;
    position: absolute;
    top: 0;
  }
}
