// Default table ----------------

.c-table-wrap {
  max-width: 100%;
  overflow-x: auto;
  position: relative;
}

.c-table {
  width: 100%;
  border-collapse: collapse;
  margin: 2em 0 0;
}

.c-table-title {
  font-weight: 300;
  margin: 2rem 0 0.75rem;
  font-size: 14px;
}

.c-table__icon-wrap {
  position: relative;
  padding-left: 2rem;
}

.c-table__icon {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid $white;
}

// Default table modifier ----------------
.c-table--default {
  margin: 2.5em 0;

  tr {
    &:first-child {
      td {
        border-top: 1px solid $mercury;
      }
    }

    td {
      padding: 1.25em 0.75em;
      border-bottom: 1px solid $mercury;

      &:first-child { padding-left: 0; }
      &:last-child { padding-right: 0; }

      &:not(:first-child) {
        font-weight: 300;
        font-size: 14px;
      }
    }
  }

  // Stack in mobile
  @media (max-width: 48em) {
    display: block;

    tr {
      display: flex;
      flex-direction: column;
      width: 100%;
      border-bottom: 1px solid $mercury;
      padding: 1em 0;

      &:first-child {
        border-top: 1px solid $mercury;

        td {
          border: 0;
        }
      }

      td {
        padding: 0;
        border: 0;
      }
    }
  }
}


// Alternate table ----------------
.c-table--alt {
  font-size: 14px;

  th {
    text-align: left;
    color: $black;
    background: $primary;
    padding: 0.75rem;
  }

  tr {

    td {
      padding: 0.5rem;
      font-weight: 300;
      white-space: nowrap;
      vertical-align: middle;
      text-align: left;
      text-align: left;
    }
  }
}

.c-table--alt:not(.c-table--flex) tr:nth-child(2n) {
  td {
    background: rgba($alto, 0.2);
  }
}


// Modifiers ----------------

.c-table--small {
  max-width: 28rem;
  margin: 0 auto;

  td {
    padding: 0.5rem 1rem;
  }
}


// Custom tables ----------------

.c-table--invite {
  margin-bottom: 1em;

  td:last-child {
    text-align: right;
  }
}


