.c-thanks {
  display: flex;
  flex-wrap: wrap;

  li {
    padding: 0 1.2em 1.2em 0;
  }

  a {
    color: $prussian-blue;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.c-thanks__column {
  width: 100%;

  @media (min-width: 48em) {
    width: 33.3333%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

}

.c-title--thanks {
  margin-bottom: 1em;
}
