.c-title {
  @include fluid-type(font-size, 320px, 1040px, 20px, 26px);
  font-weight: 300;
  line-height: 1.25;
  text-transform: uppercase;
  letter-spacing: 0.1em;

  sup {
    font-size: 0.6em;
  }
}

.c-title--centered {
  text-align: center;
}
